<div id="<%= dom_id tenant %>">
  
  <p>
    <strong>Tenant id:</strong>
    <%= tenant.id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= tenant.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= tenant.last_name %>
  </p>

  <p>
    <strong>Apartment no:</strong>
    <%= tenant.apartment_no %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= tenant.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tenant.email %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= tenant.building_id %>
  </p>

</div>
