<div id="<%= dom_id maintenance_request %>">
  <p>
    <strong>Tenant:</strong>
    <%= maintenance_request.tenant_id %>
  </p>

  <p>
    <strong>Requestinfo:</strong>
    <%= maintenance_request.requestinfo %>
  </p>

  <p>
    <strong>Requestdate:</strong>
    <%= maintenance_request.requestDate %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= maintenance_request.completed %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= maintenance_request.comment %>
  </p>

</div>
