<div id="<%= dom_id manager %>">
  <p>
    <strong>First name:</strong>
    <%= manager.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= manager.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= manager.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manager.email %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= manager.building_id %>
  </p>

</div>
