
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary " data-bs-theme="white" >
  <div class="container-fluid">
    
    <%= link_to 'BMS Application',root_path, class:'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        
        <li class="nav-item"> <%= link_to 'Buildings',buildings_path, class:'nav-link'%> </li>
        <li class="nav-item"> <%= link_to 'Tenants',tenants_path, class:'nav-link'%> </li>
        <li class="nav-item"> <%= link_to 'Managers',managers_path, class:'nav-link'%> </li>
        
        <li class="nav-item"> <%= link_to 'Engineers',engineers_path, class:'nav-link'%> </li>
       
        
        

        
        
      </ul>
      
    </div>
  </div>
</nav>