<div id="<%= dom_id engineer %>">
  <p>
    <strong>First name:</strong>
    <%= engineer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= engineer.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= engineer.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= engineer.email %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= engineer.building_id %>
  </p>

</div>
